<div class="row">
  <div class="col s12 m6">
    <br><br>
    <div class="search_wrapper">
      <%= form_tag("/instagram/search", method: "get") do %>
        <%= text_field_tag :q, nil, placeholder: "Entrez un Hashtag avec instavente" %>
        <%= submit_tag "Recherche", class: "btn btn-large orange" %>
      <% end %>
    </div>
    <br><br>
  </div>
  <h5 class="header col s12 light"><%= "#" + @tags[0].name if @tags %></h5>
</div>

<div class="row">
  <% if @tag_recent_media %>
  <% @tag_recent_media.each do |media| %>
  <%= render 'components/card', media: media %>
  <% end %>
  <% end %>
</div>